/* ------------------- Landing Page -------------------- */
#landing
{
    border: 0.2rem solid black;
    border-radius: 1rem;
    text-align: center;
    margin: auto;
    width: 50rem;
    margin-top: 6rem;
}

button
{
    width: 13rem;
    height: 3rem;
    margin: auto;
    border-radius: 1rem;
}

header
{
    margin-bottom: 3rem;
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
select
{
    border-radius: 1rem;
    padding: 0.5rem 0.4rem;
}
#landing input[type='submit']
{
    width: 13rem;
    height: 3rem;
    margin: auto;
    border-radius: 1rem;
}

/* ------------------- create student ------------------ */
#createstudent
{
    border: 0.2rem solid black;
    border-radius: 1rem;
    text-align: center;
    width: 25rem;
    margin: auto;
    margin-top: 6rem;
}
form li
{
    list-style: none;
    padding: 0.5rem;
}
form input
{
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 1rem;
    padding: 0.5rem;
}
input[type='submit']
{
    margin-right: 1rem;
    width: 6rem;
    margin-bottom: 2rem;
}
input[type='reset']
{
    width: 6rem;
}
#branch
{
    margin-bottom: 2rem;
}

/* -------------update student----------------- */
#updatestudent
{
    border: 0.2rem solid black;
    border-radius: 1rem;
    width: 20rem;
    margin: auto;
    text-align: center;
    margin-top: 12rem;
}
/* -------------- read student data -----------*/
#readstudent
{
    border: 0.2rem solid black;
    border-radius: 1rem;
    width: 30rem;
    text-align: center;
    margin: auto;
    margin-top: 12rem;
}
/* --------------- delete student ---------- */
#deletestudent
{
    border: 0.2rem solid black;
    border-radius: 1rem;
    list-style: none;
    width: 30rem;
    text-align: center;
    margin: auto;
    margin-top: 12rem;
}
#deletestudent input
{
    border-radius: 1rem;
    padding: 0.5rem;
}

/* ----------- Fetch All Student Data ------- */
#fetchstudent
{
    text-align: center;
}